@import './../../../Mixins'
@import './../../../Colors'
@import './../../../Fonts'
  
.message
  width: 100%
  display: flex
  padding: 5px 10px
  align-items: flex-end
  &_my
    justify-content: flex-end
  &_his
    flex-direction: row-reverse
    justify-content: flex-end
  &_my &__wrap
    background-color: #a7cdfd
    margin-left: 10px
  &_his &__wrap
    background-color: #ffffff
    margin-right: 10px
  &_read
    background: none
  &_unread
    background-color: #0693ff12
  &__wrap
    color: #372a2a
    display: flex
    padding: 5px 15px
    border-radius: 5px
    flex-direction: column
    width: fit-content
    max-width: 450px
  &__text
    +regular
    font-size: 16px
    margin-bottom: 2px
    line-height: 1.2em
  &__info
    +semiBold
    font-size: 11px
    color: #929292
    