@import './../../../Mixins'
@import './../../../Colors'
@import './../../../Fonts'
  
.box
  display: flex
.imageBox
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  height: 150px
  width: 150px
  border: 3px dotted $lightBlue
  position: relative
  margin-right: 30px
.image
  width: 100%
.imgLink
  display: flex
  flex: auto
.input
  opacity: 0
  width: 150px
  height: 150px
.plus
  display: none
  position: absolute
  top: 65px
  left: 55px
  &__line
    position: absolute
    display: block
    background-color: $lightBlue
    height: 6px
    width: 40px
  &__horizontalLine
    top: 0
  &__verticalLine
    transform: rotate(90deg)