@import './../../../Mixins'
@import './../../../Colors'
@import './../../../Fonts'
  
.dialogItem
  display: flex
  list-style: none
  width: 100%
  &:last-child
    margin-bottom: 0
  &__link
    padding: 10px 15px
    width: 100%
    +regular
    text-decoration: none
    color: #000000
    transition: 0.2s ease-in-out
    &_active
      background-color: #a4d0ff
      color: #002b6c
    &:hover
      background-color: #cae4ff
      color: #002b6c
    &:visited
      color: #000000