@import './../Mixins'
@import './../Colors'
@import './../Fonts'

.dialog
  min-height: 100%
  display: flex
  flex-direction: row
.dialogsBlock
  width: 30%
  padding: 40px 0 40px 30px
  &__title
    margin-bottom: 25px
.messages
  width: 70%
.dialogsList
  width: 100%
.messagesBlock
  height: 100%
  background-color: #ebf2ff
  width: 100%